@font-face {
  font-family: "RobotoRegular";
  src: url('./../../fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: "RobotoThin";
  src: url('./../../fonts/Roboto-Thin.ttf');
}

@font-face {
  font-family: "RobotoSlabBold";
  src: url('./../../fonts/robotoslabbold.ttf');
}

@font-face {
  font-family: "RobotoSlabRegular";
  src: url('./../../fonts/robotoslabregular.ttf');
}

@font-face {
  font-family: "FuturaPTBold";
  src: url('./../../fonts/FuturaPTBold.otf');
}

@font-face {
  font-family: "DinproBold";
  src: url('./../../fonts/dinprobold.otf');
}