body {
  position: relative;
}

body, html {
  overflow-x: hidden;
}

.modal-open, .modal {
  padding-right: 0 !important;
}

h1 {
  font-family: FuturaPTBold;
  font-size: 40px;
  text-align: center;
  margin: 60px 0 74px 0;
  position: relative;

  @include media-breakpoint-down(xs) {
    & {
      font-size: 30px;
      margin: 35px 0 60px 0;
    }
  }

  &::after {
    content: '';
    width: 87px;
    height: 6px;
    display: block;
    background: red;
    position: absolute;
    left: calc(50% - 43px);
    bottom: -14px;
  }
}

.callback {
  width: 628px;
  height: 139px;
  background: rgba(15, 15, 15, 0.76);
  text-align: center;
  letter-spacing: 1px;

  @include media-breakpoint-down(xs) {
    & {
      background: transparent !important;
    }
  }

  .title {
    font-family: RobotoRegular;
    color: #e5e5e5;
    font-size: 13px;

    @include media-breakpoint-down(xs) {
      & {
        font-size: 18px;
      }
    }
  }

  form {
    margin-top: 24px;

    @include media-breakpoint-down(xs) {
      & {
        background: rgba(15, 15, 15, 0.76);
        padding: 15px 0;
      }
    }

    input[type='text'] {
      background: #d8d8d8;
      width: 364px;
      height: 40px;
      border: 0;
      color: #242424;
      font-family: RobotoRegular;
      font-size: 12px;
      padding-left: 20px;
      padding-top: 3px;
      vertical-align: bottom;

      @include media-breakpoint-down(xs) {
        & {
          width: 63% !important;
        }
      }
    }

    button {
      width: 150px;
      height: 40px;
      background: #f65347;
      color: #ffffff;
      font-family: RobotoRegular;
      font-size: 11px;
      border: 0;
      outline: 0;
      margin-left: 15px;
      cursor: pointer;
      border-bottom: 3px solid #962a22;

      @include media-breakpoint-down(xs) {
        & {
          width: 28% !important;
          margin-left: 4px;
        }
      }

      &:hover {
        border-bottom: 2px solid #962a22;
        height: 39px;
      }

      &:active {
        border-bottom: 0;
        height: 38px;
      }
    }
  }
}

.logo {
  a {
    color: #e7e7e7;
    font-family: FuturaPTBold;
    font-size: 22px;
    transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      text-decoration: none;
      border: 0;
      color: #c4c4c4;
    }
  }
}

header {
  position: fixed;
  width: 100%;
  padding-top: 16px;
  transition: all 0.5s ease-in-out;
  z-index: 99;

  menu {
    padding-left: 0;
    width: 74%;
    text-align: center;
    transition: all 0.5s ease-in-out;

    a {
      color: #dbd7d7;
      font-family: RobotoRegular;
      font-size: 15px;
      padding: 5px 22px;
      transition: all 0.5s ease-in-out;

      &:hover {
        text-decoration: none;
        border: 0;
        color: #e53f33;
      }
    }
  }


  .small menu {
    width: 100%;

    a {
      font-size: 17px;
      padding: 5px 22px;
    }
  }

  .tel {
    a {
      color: #e8e8e8;
      font-size: 17px;
      font-family: RobotoRegular;
      transition: all 0.5s ease-in-out;
    }
  }

  .navbar {
    .logo {
      z-index: 100;

      a {
        color: #e7e7e7;
        font-size: 21px;
      }

      &.collapsed {
        a {
          color: black;
        }
      }
    }

    .navbar-collapse {
      background: white;
      width: 110%;
      position: absolute;
      left: -5%;
      top: -30%;
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);

      ul {
        margin: 30% 25px 25px;
      }

      a {
        color: black !important;
        font-family: RobotoRegular;
        padding: 7px 5px;

        &:hover {
          text-decoration: none;
          border: 0;
          color: #e53f33;
        }
      }
    }

    .navbar-toggler {
      z-index: 100;
      border-color: #dbd7d7;
      outline: none !important;

      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(219,215,215, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
  }
}

header.sticked {
  background: white;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-top: -1px;
  left: -1px;
  width: 101%;
  padding: 1px;

  menu {
    margin: 14px 0;

    a {
      color: black;
      font-family: RobotoRegular;
      font-size: 14px;

      &:hover {
        color: #e53f33;
      }
    }
  }

  .logo {
    a {
      color: black;
      font-size: 20px;

      &:hover {
        color: #292929;
        border-bottom: 1px solid black;
      }
    }
  }

  .tel {
    a {
      color: black;
      font-size: 15px;
    }
  }

  .navbar {
    .navbar-collapse {
      box-shadow: none;
    }
  }
}

#main {
  background: url("/images/home-page/main-background.jpg") no-repeat center;
  height: 680px;
  padding-top: 56px;

  .container {
    padding-top: 15px;
  }

  .main-title {
    margin-top: 130px;
    color: #f3f3f3;
    text-align: center;
    font-family: FuturaPTBold;
    font-size: 49px;
    line-height: 65px;
    letter-spacing: 1px;

    @include media-breakpoint-down(xs) {
      & {
        font-size: 6.2vw;
        line-height: 40px;
        margin-top: 110px;
      }
    }
  }

  .callback-wrapper {
    margin-top: 100px;
  }

  .phone-form {
    color: #e5e5e5;
    font-family: RobotoRegular;
    font-size: 14px;
    padding: 7px 0;
    margin-top: 30px;

    .phone {
      a {
        color: #e5e5e5;
        font-size: 15px;
        display: inline-block;
        margin-left: 10px;
      }
    }
  }
}

#greeting {
  padding: 90px 0;
  background: rgba(245, 244, 244, 0.78) url("/images/home-page/greeting-background.png") no-repeat top left;

  @include media-breakpoint-down(xs) {
    & {
      padding: 55px 0;
    }
  }

  .name {
    margin-top: -13px;
    display: inline-block;
    font-family: FuturaPTBold;
    font-size: 60px;
    color: #202021;

    @include media-breakpoint-down(xs) {
      & {
        font-size: 50px;
      }
    }
  }

  .three-dot {
    margin: 25px 0 35px 0;

    @include media-breakpoint-down(xs) {
      & {
        margin: 7px 0 20px 3px;
      }
    }

    div {
      display: inline-block;
      width: 14px;
      height: 13px;
      background: #ef4135;
      margin-right: 16px;
    }
  }

  .text {
    text-transform: uppercase;
    color: #4a4a4a;
    font-family: RobotoRegular;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 30px;
    word-spacing: 2px;
  }
}

#our-products {
  background: url("/images/home-page/our-products-background.jpg") no-repeat top center;
  padding-bottom: 150px;

  @include media-breakpoint-down(xs) {
    & {
      padding-bottom: 60px;
    }
  }

  h1 {
    color: white;
  }

  .tiles {
    .item {
      width: 388px;
      height: 313px;

      @include media-breakpoint-down(xs) {
        & {
          height: 185px;
        }
      }

      .icon {
        text-align: center;
        margin-top: 60px;

        @include media-breakpoint-down(xs) {
          & {
            margin-top: 30px;
          }
        }

        img {
          @include media-breakpoint-down(xs) {
            & {
              width: 150px;
            }
          }
        }
      }

      .title {
        text-align: center;
        color: #e0e0e0;
        font-family: DinproBold;
        text-transform: uppercase;
        margin-top: 45px;
        font-size: 24px;
        line-height: 33px;

        @include media-breakpoint-down(xs) {
          & {
            margin: 27px 0 20px;
            font-size: 14px;
            line-height: 22px;
          }
        }
      }
    }
  }
}

#our-service {
  padding-bottom: 155px;

  @include media-breakpoint-down(xs) {
    & {
      padding-bottom: 100px;
    }
  }

  h1 {
    color: #363636;
  }

  .tiles {
    .item {
      width: 388px;
      height: 313px;

      @include media-breakpoint-down(xs) {
        & {
          height: 200px;
        }
      }

      .icon {
        text-align: center;
        margin-top: 60px;

        @include media-breakpoint-down(xs) {
          & {
            margin-top: 30px;
          }
        }

        img {
          @include media-breakpoint-down(xs) {
            & {
              width: 70px;
            }
          }
        }
      }

      .title {
        text-align: center;
        color: #363636;
        font-family: FuturaPTBold;
        text-transform: uppercase;
        margin-top: 25px;
        font-size: 24px;
        line-height: 33px;

        @include media-breakpoint-down(xs) {
          & {
            font-size: 15px;
            line-height: initial;
          }
        }
      }

      &:first-of-type {
        padding-right: 50px;

        @include media-breakpoint-down(xs) {
          & {
            padding-right: 0;
          }
        }
      }

      &:last-of-type {
        padding-left: 50px;

        @include media-breakpoint-down(xs) {
          & {
            padding-left: 0;
          }
        }
      }
    }
  }

  .callback-row {
    margin-top: 73px;

    @include media-breakpoint-down(xs) {
      & {
        margin-top: 90px;
      }
    }
  }

  .callback {
    width: 539px;
    height: 122px;
    background: #191919;

    @include media-breakpoint-down(xs) {
      & {
        width: 100%;
        margin-top: 70px;
        letter-spacing: 0.3px;
      }
    }

    .title {
      @include media-breakpoint-down(xs) {
        & {
          color: #363636;
        }
      }
    }

    form {
      margin-top: 16px;

      @include media-breakpoint-down(xs) {
        & {
          background: rgba(15, 15, 15, 0.85)
        }
      }
    }

    input[type='text'] {
      width: 331px;
      height: 36px;
    }

    button {
      width: 128px;
      height: 36px;
      margin-left: 10px;

      &:hover {
        border-bottom: 2px solid #962a22;
        height: 35px;
      }

      &:active {
        border-bottom: 0;
        height: 34px;
      }
    }
  }

  .left-side {
    height: 122px;

    @include media-breakpoint-down(xs) {
      & {
        text-align: center;
      }
    }

    .title:first-of-type {
      color: #363636;
      font-family: FuturaPTBold;
      font-size: 19px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
    }

    .title:nth-of-type(2) {
      color: #363636;
      font-family: RobotoRegular;
      font-size: 13px;
      text-transform: uppercase;

      @include media-breakpoint-down(xs) {
        & {
          margin: 15px 0 6px;
          display: inline-block;
        }
      }
    }

    .suggest-to-call-wrapper {
      text-align: center;
    }

    .suggest-to-call {
      display: inline-block;
      margin-top: 22px;
      border: 1px solid rgba(130, 128, 128, 0.66);
      font-family: RobotoRegular;
      font-size: 13px;
      text-transform: uppercase;
      padding: 6px 15px;

      .phone {
        a {
          color: #363636;
          font-weight: 600;
          font-size: 14px;
          padding-left: 10px;
        }
      }
    }
  }
}

#portfolio {
  background: url("/images/home-page/portfolio-background.jpg") no-repeat top center;
  padding-bottom: 80px;

  h1 {
    color: #efefef;
  }

  .counters {
    &>div {
      @include media-breakpoint-down(xs) {
        & {
          text-align: center;
          display: block;
        }

        &:nth-of-type(3), &:nth-of-type(4) {
          margin-top: 50px;
        }
      }
    }

    .count {
      color: #e0e0e0;
      font-size: 30px;
      font-family: DinproBold;
      position: relative;

      &:after {
        content: '';
        width: 54px;
        height: 4px;
        display: block;
        position: absolute;
        background: #ef4135;
        top: 50px;
        left: 1px;

        @include media-breakpoint-down(xs) {
          & {
            left: calc(50% - 27px);
          }
        }
      }
    }

    .title {
      color: white;
      font-size: 12px;
      font-family: RobotoRegular;
      margin-top: 30px;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }
}

#clients {
  background: url("/images/home-page/comments-left-background.jpg") no-repeat top left, url("/images/home-page/comments-right-background.jpg") no-repeat top right;

  h1 {
    color: #363636;
  }

  .container {
    background: #f8f8f8;
    padding-bottom: 80px;
  }

  .comments {

    .owl-stage-outer {
      padding: 100px 0;

      @include media-breakpoint-down(xs) {
        & {
          padding: 0;
        }
      }
    }

    .owl-prev {
      font-size: 80px;
      position: absolute;
      top: calc(50% - 73px);
      left: 40px;
      outline: 0;

      @include media-breakpoint-down(xs) {
        & {
          display: none;
        }
      }
    }

    .owl-next {
      font-size: 80px;
      position: absolute;
      top: calc(50% - 73px);
      right: 40px;
      outline: 0;

      @include media-breakpoint-down(xs) {
        & {
          display: none;
        }
      }
    }

    .item {
      background: #fcfcfc;
      height: 262px;
      margin: 0 78px;
      padding-bottom: 20px;

      @include media-breakpoint-down(xs) {
        & {
          margin: 0 1px;
          height: 100%;
          background: #fcfcfc6b;
          border: 1px solid #ececec;
        }
      }

      .text {
        color: #363636;
        font-family: RobotoRegular;
        font-size: 17px;
        padding-right: 56px;

        @include media-breakpoint-down(xs) {
          & {
            padding-right: 15px;
            text-align: justify;
            margin-top: 200px;
          }
        }

      }

      .img-block {
        padding-left: 60px;

        @include media-breakpoint-down(xs) {
          & {
            padding-left: 0;
          }
        }

        .img-wrapper {
          position: absolute;
          padding: 32px 14px 20px 14px;
          background: #f6f5f5;
          border: 2px solid #ececec;
          text-align: center;
          top: -50px;

          @include media-breakpoint-down(xs) {
            & {
              top: initial;
              padding: 20px 10px 20px 10px;
              width: 100%;
              background: none;
              border: 0;
            }
          }

          img {
            width: auto;

            @include media-breakpoint-down(xs) {
              & {
                width: 150px;
                float: left;
              }
            }
          }

          .name {
            color: #363940;
            font-family: RobotoRegular;
            font-size: 24px;

            @include media-breakpoint-down(xs) {
              & {
                font-size: 19px;
              }
            }
          }

          .position {
            color: #353541;
            font-family: RobotoThin;
            font-size: 15px;
            font-weight: 600;
            line-height: 44px;

            @include media-breakpoint-down(xs) {
              & {
                font-size: 14px;
                line-height: 23px;
              }
            }
          }
        }
      }
    }
  }
}

#contacts {
  height: 367px;
  background: url("/images/home-page/contacts-background.jpg") no-repeat top center;

  @include media-breakpoint-down(xs) {
    & {
      background-position: top right;
      height: 100%;
      padding-bottom: 50px;
    }
  }

  background-size: cover;

  .container, .row {
    height: 100%;
  }

  .callback-wrapper {
    margin-left: -50px;

    @include media-breakpoint-down(xs) {
      & {
        margin-left: 0;
        margin-top: 35px;
      }
    }

    .callback {
      transform: scale(0.87);

      @include media-breakpoint-down(xs) {
        & {
          width: 100%;
        }
      }

      form {
        @include media-breakpoint-down(xs) {
          & {
            margin-top: 15px;
          }
        }
      }

      .title {
        font-size: 14px;

        @include media-breakpoint-down(xs) {
          & {
            font-size: 17px;
          }
        }
      }

      button:hover {
        padding-top: 2px;
      }
    }
  }

  .phone-form {
    color: #161616;
    font-family: RobotoRegular;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.66);
    width: 420px;
    height: 44px;
    padding: 11px 40px;
    border: 2px solid #929191;

    @include media-breakpoint-down(xs) {
      & {
        color: #e5e5e5;
        background: transparent;
        padding: 11px 10px;
        text-align: center;
        border: 0;
      }
    }

    .phone {
      a {
        color: #161616;
        font-size: 14px;
        display: inline-block;
        margin-left: 26px;
      }

      @include media-breakpoint-down(xs) {
        & {
          margin-left: 15px;
        }
      }
    }
  }

  .text {

    @include media-breakpoint-down(xs) {
      & {
        margin-top: 30px;
        text-align: center;
      }
    }

    &>span {
      display: block;
    }

    &>span:nth-of-type(1) {
      color: #eaeaea;
      font-family: FuturaPTBold;
      font-size: 25px;
    }

    &>span:nth-of-type(2) {
      color: #ffffff;
      font-family: RobotoRegular;
      font-size: 15px;
      margin-top: 13px;

      @include media-breakpoint-down(xs) {
        & {
          font-family: RobotoThin;
          font-weight: 600;
        }
      }
    }

    &>span:nth-of-type(3) {
      color: #aba9a9;
      font-family: RobotoRegular;
      font-size: 13px;
      text-transform: uppercase;
      margin-top: 16px;
    }
  }
}

footer {
  height: 110px;
  background: #2f2e2e;
  justify-content: center;
  align-items: center;

  @include media-breakpoint-down(xs) {
    & {
      text-align: center;
      padding-top: 10px;
      line-height: 30px;
    }
  }

  div {
    margin: 0 40px;
  }

  .year {
    color: #e9e9e9;
    font-family: RobotoThin;
    font-size: 14px;

    @include media-breakpoint-down(xs) {
      & {
        font-size: 13px;
      }
    }
  }

  .phone a {
    color: #ffffff !important;
    font-family: RobotoRegular;
    font-size: 15px;

    @include media-breakpoint-down(xs) {
      & {
        font-size: 14px;
      }
    }
  }
}

#to-top {
  position: absolute;
  bottom: 40px;
  right: 9%;
  color: #ffffff;
  font-family: RobotoRegular;
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  cursor: pointer;

  i {
    font-size: 30px;
  }
}