// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "~animate.css";

//fonts
@import "fonts";

// Variables
@import "home";

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.align-right {
  text-align: right;
}